{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}

<div class="container" style="padding-left:380px; padding-right:380px;">
    <hr><h1 class="text-center" >Bienvenido al panel de control</h1><hr><br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Acción</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><a href="{{ path('estudiante_index') }}"> Administrar estudiantes </a></td>
            <td><img src=" {{ asset('img/busqueda.png') }} " ></td>
            </tr>
            <tr>
            <td><a href="{{ path('asignatura_index') }}"> Administrar asignaturas </a></td>
            <td><img src=" {{ asset('img/busqueda.png') }} " ></td>
            </tr>
            <tr>
            <td><a href="{{ path('nota_index') }}"> Administrar notas </a></td>
            <td><img src=" {{ asset('img/busqueda.png') }} " ></td>
            </tr>
        </tbody>
    </table>

</div>

{# 
<a href="{{ path('estudiante_index') }}"> Administrar estudiantes <img src=" {{ asset('img/busqueda.png') }} " > </a><br>
<a href="{{ path('asignatura_index') }}"> Administrar asignaturas <img src=" {{ asset('img/busqueda.png') }} " > </a><br>
<a href="{{ path('nota_index') }}"> Administrar notas <img src=" {{ asset('img/busqueda.png') }} " > </a> #}

{% endblock %}
