{% extends 'base.html.twig' %}

{% block title %}Nota index{% endblock %}

{% block body %}
    {# {{ dump(notas) }} #}

    <h1>Nota index</h1>
    <h2>{{ notas[0].getAsignatura.getNombre() }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alumno</th>
                <th>Calificacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notum in notas %}
            <tr>
                <td>{{ notum.id }}</td>
                <td>{{ notum.getEstudiante().getNombre() }}</td>
                <td>{{ notum.calificacion }}</td>
                <td>
                    <a href="{{ path('nota_show', {'id': notum.id}) }}">show</a>
                    <a href="{{ path('nota_edit', {'id': notum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nota_new') }}">Crear nueva</a>
    <a href="{{ path('panel') }}">Home</a>
{% endblock %}
