{% extends 'base.html.twig' %}

{% block title %}Nota{% endblock %}

{% block body %}
    <h1>Nota</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notum.id }}</td>
            </tr>
            <tr>
                <th>Calificacion</th>
                <td>{{ notum.calificacion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('nota_index') }}">Volver al listado</a>
 
    <a class="btn btn-primary" href="{{ path('nota_edit', {'id': notum.id}) }}">edit</a>
    <a class="btn btn-primary" href="{{ path('panel') }}">Home</a> <hr>

    {{ include('nota/_delete_form.html.twig') }}
{% endblock %}
