{% extends 'base.html.twig' %}

{% block title %}Estudiante index{% endblock %}

{% block body %}
    <h1>Estudiante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.id }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>
                    <a href="{{ path('estudiante_show', {'id': estudiante.id}) }}">show <img src=" {{ asset('img/busqueda.png') }} " > </a>
                    <a href="{{ path('estudiante_edit', {'id': estudiante.id}) }}">edit <img src=" {{ asset('img/editar.png') }} " > </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('estudiante_new') }}">Create new</a>
    <a class="btn btn-primary" href="{{ path('panel') }}">Home</a>
{% endblock %}
