{% extends 'base.html.twig' %}

{% block title %}Estudiante{% endblock %}

{% block body %}
    <h1>Estudiante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estudiante.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ estudiante.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estudiante_index') }}">back to list</a>

    <a href="{{ path('estudiante_edit', {'id': estudiante.id}) }}">edit</a>
    <a href="{{ path('panel') }}">Home</a>

    {{ include('estudiante/_delete_form.html.twig') }}
{% endblock %}
